In [ ]:
import sqlite3

In [9]:
#criando um banco de dados
conexao = sqlite3.connect('Banco_de_Dados')

In [10]:
#apontar para o banco
cursor = conexao.cursor()

In [ ]:
#criando uma tabela
cursor.execute('CREATE TABLE Tabela_Dados(Data text, Nome text, Idade real)')

In [ ]:
#fazendo commit
conexao.commit()

In [13]:
#Inserindo dados na tabela
cursor.execute('INSERT INTO Tabela_Dados VALUES ("24/04/1994", "Marcos Ribeiro Jr", "28")')
cursor.execute('INSERT INTO Tabela_Dados VALUES ("03/07/1991", "Eveling Ribeiro", "31")')
cursor.execute('INSERT INTO Tabela_Dados VALUES ("17/09/1996", "Thiago Gabriel", "26")')
cursor.execute('INSERT INTO Tabela_Dados VALUES ("22/08/1992", "Victor Ribeiro", "30")')

In [14]:
#Selecionando dados da tabela
consulta = cursor.execute('SELECT * FROM Tabela_Dados').fetchall()
print(consulta)

[('24/04/1994', 'Marcos Ribeiro Jr', 28.0), ('03/07/1991', 'Eveling Ribeiro', 31.0), ('17/09/1996', 'Thiago Gabriel', 26.0), ('22/08/1992', 'Victor Ribeiro', 30.0)]

In [15]:
#query de consultas específicas
consulta = cursor.execute('SELECT Nome, Idade FROM Tabela_Dados').fetchall()
for linha in consulta:
    print(linha)

('Marcos Ribeiro Jr', 28.0)
('Eveling Ribeiro', 31.0)
('Thiago Gabriel', 26.0)
('Victor Ribeiro', 30.0)

In [16]:
#where
consulta = cursor.execute('SELECT * FROM Tabela_Dados WHERE Nome = "Marcos Ribeiro Jr"').fetchall()
print(consulta)

[('24/04/1994', 'Marcos Ribeiro Jr', 28.0)]

In [17]:
#usando o >
consulta = cursor.execute('SELECT * FROM Tabela_Dados WHERE Idade > 28').fetchall()
print(consulta)

[('03/07/1991', 'Eveling Ribeiro', 31.0), ('22/08/1992', 'Victor Ribeiro', 30.0)]

In [ ]:
#usando o <
consulta = cursor.execute('SELECT Nome FROM Tabela_Dados WHERE Idade < 30').fetchall()
print(consulta)

In [ ]:
#Usando >=
consulta = cursor.execute('SELECT * FROM Tabela_Dados WHERE Idade >= 20').fetchall()
print(consulta)

In [ ]:
#usando <=
consulta = cursor.execute('SELECT * FROM Tabela_Dados WHERE Idade <= 30').fetchall()
print(consulta)

In [ ]:
#usando <> 
consulta = cursor.execute('SELECT * FROM Tabela_Dados WHERE Nome <> "Carlos"').fetchall()
print(consulta)

In [ ]:
#usando between
consulta = cursor.execute('SELECT * FROM Tabela_Dados WHERE Idade BETWEEN 20 AND 30').fetchall()
for linha in consulta:
    print(linha)

In [ ]:
#procurando algo que comece com:
consulta = cursor.execute('SELECT * FROM Tabela_Dados WHERE Nome LIKE "M%"').fetchall()
for linha in consulta:
    print(linha)

In [ ]:
#procurando por algo que termine com:
consulta = cursor.execute('SELECT * FROM Tabela_Dados WHERE Nome LIKE "%o"').fetchall()
for linha in consulta:
    print(linha)

In [ ]:
#procurando por algo que tenha o padrão:
consulta = cursor.execute('SELECT * FROM Tabela_Dados WHERE Nome LIKE "%rc%"').fetchall()
for linha in consulta:
    print(linha)

In [ ]:
#procurando algo com o IN
consulta = cursor.execute('SELECT * FROM Tabela_Dados WHERE Idade IN (20,25,30)').fetchall()
for linha in consulta:
    print(linha)

In [ ]:
#procurando algo com IN
consulta = cursor.execute('SELECT * FROM Tabela_Dados WHERE Nome IN ("Victor Ribeiro")').fetchall()
for linha in consulta:
    print(linha)

In [ ]:
#and, or, not
consulta = cursor.execute('SELECT * FROM Tabela_Dados WHERE Idade = 26 AND Nome = "Thiago Gabriel"').fetchall()
for linha in consulta:
    print(linha)

In [ ]:
consulta = cursor.execute('SELECT * FROM Tabela_Dados WHERE Idade = 31 OR Nome = "Marcos Ribeiro Jr"').fetchall()
for linha in consulta:
    print(linha)

In [ ]:
consulta = cursor.execute('SELECT * FROM Tabela_Dados WHERE NOT Nome = "Eveling Ribeiro"').fetchall()
for linha in consulta:
    print(linha)

In [ ]:
#combinacao de parâmetros and, or, not
consulta = cursor.execute(
    """SELECT * FROM Tabela_Dados WHERE 
       Nome = 'Eveling Ribeiro' OR (Idade > 20 OR Idade < 30) AND NOT Nome = 'Thiago Gabriel'
    """
                          ).fetchall()
for linha in consulta:
    print(linha)

In [ ]:
#ordenando os valores em ordem crescente
consulta = cursor.execute('SELECT * FROM Tabela_Dados ORDER BY Nome').fetchall()
for linha in consulta:
    print(linha)

In [ ]:
#ordenando os valores em ordem decrescente
consulta = cursor.execute('SELECT * FROM Tabela_Dados ORDER BY Idade DESC').fetchall()
for linha in consulta:
    print(linha)

In [ ]:
#preenchendo valores nulos
cursor.execute('INSERT INTO Tabela_Dados VALUES (null, "Silvia Diniz", null)')

In [ ]:
#verificando valores nulos
consulta = cursor.execute('SELECT * FROM Tabela_Dados WHERE Idade IS NULL').fetchall()
print(consulta)

In [ ]:
#verificando os valores NÃO nulos
consulta = cursor.execute('SELECT * FROM Tabela_Dados WHERE Idade IS NOT NULL').fetchall()
print(consulta)

In [ ]:
#preenchendo valores nulos
consulta = cursor.execute('UPDATE Tabela_Dados SET Data = "18/03/1968" WHERE Data IS NULL ').fetchall()

In [ ]:
#verificando
consulta = cursor.execute('SELECT * FROM Tabela_Dados').fetchall()
for linha in consulta:
    print(linha)

In [ ]:
#preenchendo valores nulos
consulta = cursor.execute('UPDATE Tabela_Dados SET Idade = 54 WHERE Idade IS NULL').fetchall()

In [ ]:
#verificando
consulta = cursor.execute('SELECT * FROM Tabela_Dados').fetchall()
for linha in consulta:
    print(linha)

In [ ]:
#Delete
consulta = cursor.execute('DELETE FROM Tabela_Dados WHERE Nome = "Silvia Diniz"').fetchall()

In [ ]:
#verificando
consulta = cursor.execute('SELECT * FROM Tabela_Dados').fetchall()
for linha in consulta:
    print(linha)

In [ ]:
#select top
consulta = cursor.execute('SELECT * FROM Tabela_Dados LIMIT 2').fetchall()
for linha in consulta:
    print(linha)

In [ ]:
#min and max
menor_idade = cursor.execute('SELECT MIN (Idade) FROM Tabela_Dados').fetchall()
maior_idade = cursor.execute('SELECT MAX (Idade) FROM Tabela_Dados').fetchall()
print(menor_idade)
print(maior_idade)

In [ ]:
#Count, AVG e Sum
"""
A COUNT()função retorna o número de linhas que corresponde a um critério especificado.

A AVG()função retorna o valor médio de uma coluna numérica.

A SUM()função retorna a soma total de uma coluna numérica.

"""
#count
consulta = cursor.execute('SELECT COUNT (Idade) FROM Tabela_Dados').fetchall()
print(consulta)

In [ ]:
#AVG
consulta = cursor.execute('SELECT AVG (Idade) FROM Tabela_Dados').fetchall()
print(consulta)

In [ ]:
consulta = cursor.execute('SELECT SUM (Idade) FROM Tabela_Dados').fetchall()
print(consulta)

In [ ]:
#Aliases
"""
Os aliases SQL são usados para fornecer um nome temporário a uma tabela ou coluna em uma tabela.

Os aliases são frequentemente usados para tornar os nomes das colunas mais legíveis.

Um alias existe apenas durante essa consulta.

Um alias é criado com a palavra AS chave.

"""

consulta = cursor.execute('SELECT Nome AS Cadastro_Pessoas FROM Tabela_Dados').fetchall()
print(consulta)

In [32]:
#joins
"""
Uma JOIN cláusula é usada para combinar linhas de duas ou mais tabelas, com base em uma coluna relacionada entre elas.

Aqui estão os diferentes tipos de JOINs no SQL:

(INNER) JOIN: Retorna registros que possuem valores correspondentes em ambas as tabelas
LEFT (OUTER) JOIN: Retorna todos os registros da tabela da esquerda e os registros correspondentes da tabela da direita
RIGHT (OUTER) JOIN: Retorna todos os registros da tabela da direita e os registros correspondentes da tabela da esquerda
FULL (OUTER) JOIN: Retorna todos os registros quando há uma correspondência na tabela esquerda ou direita
"""
#### --- ID do Vendedor e valor de venda dele
consulta = cursor.execute(
    '''
    CREATE TABLE Tabela_Vendas (id real, valor real)
    '''
)
#criando a tabela
conexao.commit()

In [37]:
#### --- Dados Cadastrais dos vendedores
consulta = cursor.execute(
    '''
    CREATE TABLE Tabela_Cadastro (id real, nome text)
    '''
)

conexao.commit()

In [33]:
#venda dos vendedores
consulta = cursor.execute(''' INSERT INTO Tabela_Vendas VALUES (1, 100)''')
consulta = cursor.execute(''' INSERT INTO Tabela_Vendas VALUES (1, 200)''')
consulta = cursor.execute(''' INSERT INTO Tabela_Vendas VALUES (1, 150)''')

consulta = cursor.execute(''' INSERT INTO Tabela_Vendas VALUES (2, 50)''')
consulta = cursor.execute(''' INSERT INTO Tabela_Vendas VALUES (2, 200)''')
consulta = cursor.execute(''' INSERT INTO Tabela_Vendas VALUES (2, 900)''')

In [38]:
#venda dos vendendores

consulta = cursor.execute(''' INSERT INTO Tabela_Cadastro VALUES (1, "Eveling Ribeiro")''')
consulta = cursor.execute(''' INSERT INTO Tabela_Cadastro VALUES (2, "Marcos Ribeiro Jr")''')

In [34]:
# Verificando
consulta = cursor.execute(
    ''' 
    SELECT * FROM Tabela_Vendas
    '''
).fetchall()

for Linha in consulta:
    print(Linha)

(1.0, 100.0)
(1.0, 200.0)
(1.0, 150.0)
(2.0, 50.0)
(2.0, 200.0)
(2.0, 900.0)

In [39]:
consulta = cursor.execute(''' SELECT * FROM Tabela_Cadastro''').fetchall()

for linha in consulta:
    print(linha)

(1.0, 'Eveling Ribeiro')
(2.0, 'Marcos Ribeiro Jr')